{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="video production company, media company, corporate video production, film production, corporate video service, video production services, movie production companies, production studio, creative producing,co-production media">
    <!---favicon-->
    <link rel="icon" href="{% static 'assets/img/favicon1.png' %}" type="image/gif" >
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <title>BFC - Media | 404</title>
</head>
<body>
    <div class="error-page">
    <div class="error-inner">
        <img src="assets/img/BFCLOGO.png" alt="" width="200px">
        <div>
            <h1>404</h1>
            <p>Oops! Page Not Found (404 Error)...</p>
            p>Sorry, the page you're looking for doesn’t exist or has been moved.</p>
        </div>
    </div>
    </div>
    <script src="{% static 'script/test.js' %}"></script>
</body>
</html>