{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a premier media production
    company dedicated to crafting captivating content across entertainment, business, sports, and  large-scale event management. 
    With deep-rooted expertise in the film industry and digital platforms, we excel at bringing stories to life with unmatched creativity and precision.">
    <meta name="keywords" content="video production company, media company, corporate video production, film production, corporate video service, video production services, movie production companies, production studio, creative producing,co-production media">
    <title>BFC - Media | Art Vaults</title>
    <!---favicon-->
    <link rel="icon" href="{% static 'assets/img/favicon1.png' %}" type="image/gif">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap 5 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
</head>
<body class="project-body">
    <!--Audio-->
    <audio id="clickSound" src="{% static 'assets/img/audio/shutter.mp3' %}"></audio>
    <!-- Spinner -->
    <div id="loading-spinner">
        <video id="loading-video" autoplay muted>
            <source src="{% static 'assets/video/IMG_6213.MOV' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="container-fluid gallery-lg">
        <div class="row">
            <div class="col-2 navbar-container"> <!-- Navbar-lg START -->
                <a href="{% url 'index' %}"><img src="{% static 'assets/img/BFCLOGO.png' %}" alt="BFCLOGO" class="BFClogo"></a>
                <img src="{% static 'assets/img/REEL 2.jpg' %}" alt="Reel" class="reel-line">
                <div class="menu">
                    <div class="menu-open-button">
                        <img src="{% static 'assets/img/Reel box.png' %}" alt="Reel" class="menu-image" id="menuToggle">
                    </div>
                    <div class="menu-items" style="background:url('{% static 'assets/img/filmv2.png' %}') no-repeat">
                        <a href="{% url 'index' %}" class="menu-item soundButton">Home</a>
                        <a href="{% url 'about' %}" class="menu-item soundButton">Our Story</a>
                        <a href="{% url 'works' %}" class="menu-item soundButton">Craftings</a>
                        <a href="{% url 'service' %}" class="menu-item soundButton">Offerings</a>
                        <a href="{% url 'projects' %}" class="menu-item soundButton">Moments</a>
                        <a href="{% url 'gallery' %}" class="menu-item active soundButton">Art Vaults</a>
                        <a href="{% url 'team' %}" class="menu-item soundButton">The Crew</a>
                        <a href="https://virtuai.billionairefrequencycode.com" target="_blank" class="menu-item">Virtu AI</a>
                        <a href="{% url 'contact' %}" class="menu-item soundButton">Connect</a>
                        <div class="nav-foot">
                            <p>©2024 BFC - Media All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div> <!-- Navbar-lg END -->
            <div class="col-10">
                <!-- Gallery-lg START -->
                <div class="gallery-container-main">
                <div class="gallery-header ">
                    <h1>Gallery</h1>
                    <div class="background-text">GALLERY</div>
                </div>
                <div class="service-main">
                <div class="filter-logo-main">
                    <div class="filter-logo filter-logo-img">
                        <img class="filter-logo1 logo2" src="{% static 'assets/img/clients/traneeb.png' %}" alt="EEB Engineering">
                        <img class="filter-logo1" src="{% static 'assets/img/clients/ELSLOGO.png' %}" alt="Exchange Legal Services">
                        <img class="filter-logo1" src="{% static 'assets/img/clients/fpblack.png' %}" alt="Fasta Pizza">
                        <img class="filter-logo1" src="{% static 'assets/img/clients/tranpc.png' %}" alt="Prime counsel ">
                        <img class="filter-logo1" src="{% static 'assets/img/clients/consulven.png' %}" alt="Consulven IFSC">
                    </div>
                </div>
                <div class="gallery-container prime-counsel">
                    <div class="box box1"><!--holi vido-->
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/fp_holi.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="box box2"><!--vivara-->
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Vivara3.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="box box3"><!--Bara-->
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/baraccuda1.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>   
                    <div class="box box4">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Vivarafudge.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div> 
                    <div class="box box5">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/eeb1.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="box box6">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Posh.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="gallery-container prime-counsel">
                    <div class="box box1">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Wills+_+Probates+with+Subtitle.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="box box2">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Business+Dispute+with+subtitles+.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="box box3">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Constructive+Trust+with+Subtitle.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="box box4">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Domestic+Violence+with+Subtitle.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div> 
                    <div class="box box5">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/fp_truck.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div> 
                    <div class="box box6">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/EEE+Eng+1.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="gallery-container fasta-pizza">
                    
                    <div class="box box1">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Contract.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="box box2">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Reborn.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="box box3">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Vivara2.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div> 
                    <div class="box box4">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Vivara3.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="box box5">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/ar.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="box box6">
                        <video autoplay loop mood muted loading="lazy">
                            <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/baraccuda2.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
            </div>
        </div><!-- Gallery-lg END -->
    </div>
</div>

    <!-- Navbar-sm START -->
    <div class="navbar-sm">
        <div class="logo-sm animate__animated animate__fadeInLeft animate__delay-3s">
            <img src="{% static 'assets/img/BFCLOGO.png' %}" alt="">
        </div>
        <button class="toggle-btn">
            <img src="{% static 'assets/img/close clapboard.png' %}" alt="">
        </button>
    </div>

    <div class="nav-menu-sm">
        <div class="nav-header-sm">
            <div class="logo-sm">
                <img src="{% static 'assets/img/BFCLOGO.png' %}" alt="">
            </div>
            <button class="close-btn">
                <i class="fa-brands fa-xing"></i>
            </button>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">Our Story</a></li>
            <li><a href="{% url 'works' %}">Craftings</a></li>
            <li><a href="{% url 'service' %}">Offerings</a></li>
            <li><a href="{% url 'projects' %}">Moments</a></li>
            <li><a href="{% url 'gallery' %}" class="active">Art Vaults</a></li>
            <li><a href="{% url 'team' %}">The Crew</a></li>
            <li><a href="https://virtuai.billionairefrequencycode.com" target="_blank">Virtu AI</a></li>
            <li><a href="{% url 'contact' %}">Connect</a></li>
        </ul>
    </div>
    <!-- Navbar-sm END -->
    <div class="gallery-header-sm ">
        <h1>Gallery</h1>
        <div class="background-text">GALLERY</div>
    </div>
    <div class="filter-logo-main  filter-logo-sm">
        <div class="filter-logo filter-logo-img">
            <img class="filter-logo1" src="{% static 'assets/img/clients/traneeb.png' %}" alt="">
            <img class="filter-logo1" src="{% static 'assets/img/clients/ELSLOGO.png' %}" alt="">
            <img class="filter-logo1" src="{% static 'assets/img/clients/fpblack.png' %}" alt="">
            <img class="filter-logo1" src="{% static 'assets/img/clients/tranpc.png' %}" alt="">
            <img class="filter-logo1" src="{% static 'assets/img/clients/consulven.png' %}" alt="">
        </div>
    </div>
    <div class="gallery-container gallery-sm prime-counsel-sm">
        
        <div class="box box1">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/fp_holi.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div> 
        <div class="box box2">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Vivara3.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="box box3">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/baraccuda1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="box box4">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Vivarafudge.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="box box5">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/eeb1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="box box6">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Posh.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="gallery-container gallery-sm fasta-pizza-sm">
        <div class="box box1">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/baraccuda2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="box box2">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Reborn.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="box box3">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Wills+_+Probates+with+Subtitle.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="box box4">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/Domestic+Violence+with+Subtitle.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="box box5">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/ar.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div> 
        <div class="box box6">
            <video autoplay loop mood muted loading="lazy">
                <source src="https://bfcmedia.s3.ap-south-1.amazonaws.com/baraccuda3.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>



    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom CSS -->
    <script src="{% static 'script/main.js' %}"></script>
    <script src="{% static 'script/test.js' %}"></script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/99e1031307.js" crossorigin="anonymous"></script>

    <script>
        document.getElementById('primeCounselLogo').addEventListener('click', function () {
            showGallery('prime-counsel');
        });

        document.getElementById('fastaPizzaLogo').addEventListener('click', function () {
            showGallery('fasta-pizza');
        });

        document.getElementById('legalLogo').addEventListener('click', function () {
            showGallery('legal');
        });

        function showGallery(galleryClass) {
            var galleries = document.querySelectorAll('.gallery-container');
            galleries.forEach(function (gallery) {
                if (gallery.classList.contains(galleryClass)) {
                    gallery.classList.add('active');
                } else {
                    gallery.classList.remove('active');
                }
            });
        }
    </script>

    <script>
        document.getElementById('primeCounselLogo-sm').addEventListener('click', function () {
            showGallery('prime-counsel-sm');
        });

        document.getElementById('fastaPizzaLogo-sm').addEventListener('click', function () {
            showGallery('fasta-pizza-sm');
        });

        document.getElementById('legalLogo-sm').addEventListener('click', function () {
            showGallery('legal-sm');
        });

        function showGallery(galleryClass) {
            var galleries = document.querySelectorAll('.gallery-container');
            galleries.forEach(function (gallery) {
                if (gallery.classList.contains(galleryClass)) {
                    gallery.classList.add('active');
                } else {
                    gallery.classList.remove('active');
                }
            });
        }
    </script> 

</body>

</html>